article, aside, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body, html {
	background: #fff url('../images/body-noise.png') fixed;
	font: 14px Georgia, serif;  
	margin: 10px;
	padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

.bookmarklet{
	padding: 5px;
	background-color: #ff0080;
	border: 1px solid black;
}